@using Microsoft.Extensions.Options
@using WebApp
@model Shared.Models.ProposalModel 
<tr>
    <td>@Model.Title</td>
    <td>@Model.Speaker</td>
    <td>
        @if (Model.Approved)
        {
            <div class="glyphicon glyphicon-check"></div>
        }
    </td>
    <td>
        @if (!Model.Approved)
        {
            <a asp-action="Approve" asp-route-proposalId="@Model.Id">Approve</a>
        }
    </td>
</tr>
